In [1]:
########Customer Segmentation with RFM Analysis######

In [2]:
#Business Problem

In [3]:
#FLO, an online shoe store, wants to segment its customers and determine marketing strategies according to these segments. 
#To this end, 
#the behaviors of the customers will be defined and groups will be formed according to the clustering in these behaviors.

In [4]:
#It consists of the information obtained from the past shopping behaviors of customers
#who made their last shopping from Flo as OmniChannel (both online and offline shopping) in the years 2020-2021.

In [5]:
##The Story of Data Set
#master_id : Unique customer id,
# order_channel : Which channel of the shopping platform is used (Android, ios, Desktop, Mobile),
# last_order_channel : The channel where the most recent purchase was made,
# first_order_date : Date of the customer's first purchase,
# last_order_date :Date of the customer's last purchase,
# last_order_date_online : The date of the last purchase made by the customer on the online platform,
# last_order_date_offline : The date of the last purchase made by the customer on the offline platform,
# order_num_total_ever_online :The total number of purchases made by the customer on the online platform,
# order_num_total_ever_offline :The total number of purchases made by the customer on the offline platform
# customer_value_total_ever_offline : Total fee paid by the customer for offline purchases,
# customer_value_total_ever_online : Total fee paid by the customer for online purchases,
# interested_in_categories_12 : List of categories the customer has shopped in the last 12 months

In [6]:
#Task 1: Understanding and Preparing the Data

In [7]:
#Step1: Read the flo_data_20K.csv data. Make a copy of the dataframe.

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

df_ = pd.read_csv(r'C:\Users\esran\Desktop\DATA SET\flo_data_20k.csv')
df = df_.copy()

In [9]:
#Step 2: In the dataset
# a. top 10 observations,

In [10]:
df.head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR]
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,Desktop,Offline,2018-11-18,2021-03-13,2018-11-18,2021-03-13,1.000,2.000,150.870,49.990,[KADIN]
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,Android App,Android App,2020-03-04,2020-10-18,2020-10-18,2020-03-04,3.000,1.000,59.990,315.940,[AKTIFSPOR]
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,Mobile,Offline,2020-05-15,2020-08-12,2020-05-15,2020-08-12,1.000,1.000,49.990,113.640,[COCUK]
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.000,2.000,120.480,934.210,"[ERKEK, COCUK, KADIN]"
9,1143f032-440d-11ea-8b43-000d3a38a36f,Mobile,Mobile,2019-07-30,2020-10-04,2020-10-04,2019-07-30,1.000,1.000,69.980,95.980,"[KADIN, AKTIFSPOR]"

In [11]:
# b. Variable names

In [12]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')

In [13]:
# c. descriptive statistics

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.000,3.111,4.226,1.000,1.000,2.000,4.000,200.000
order_num_total_ever_offline,19945.000,1.914,2.063,1.000,1.000,1.000,2.000,109.000
customer_value_total_ever_offline,19945.000,253.923,301.533,10.000,99.990,179.980,319.970,18119.140
customer_value_total_ever_online,19945.000,497.322,832.602,12.990,149.980,286.460,578.440,45220.130

In [15]:
# d.Sum of Null values

In [16]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [17]:
# e.Variable types, review.

In [18]:
df.dtypes

master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
dtype: object

In [19]:
# Step 3: Omnichannel means that customers shop from both online and offline platforms.
# Create new variables for the total number of purchases and spending of each customer.

In [20]:
df["total_count"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
df["total_price"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]

In [21]:
# Step 4: Examine the variable types. Change the type of variables that express date to date.

In [23]:
date_columns = [col for col in df.columns if "date" in col]
df[date_columns] = df[date_columns].apply(pd.to_datetime)
df.dtypes

master_id                                    object
order_channel                                object
last_order_channel                           object
first_order_date                     datetime64[ns]
last_order_date                      datetime64[ns]
last_order_date_online               datetime64[ns]
last_order_date_offline              datetime64[ns]
order_num_total_ever_online                 float64
order_num_total_ever_offline                float64
customer_value_total_ever_offline           float64
customer_value_total_ever_online            float64
interested_in_categories_12                  object
total_count                                 float64
total_price                                 float64
dtype: object

In [24]:
# Step 5: Look at the distribution of the number of customers in the shopping channels, 
#the total number of products purchased and the total expenditures.

In [25]:
df.groupby("order_channel").agg({"master_id":"count",
                                 "total_count":"sum",
                                 "total_price":"sum"})

               master_id  total_count  total_price
order_channel
Android App         9495    52269.000  7819062.760
Desktop             2735    10920.000  1610321.460
Ios App             2833    15351.000  2525999.930
Mobile              4882    21679.000  3028183.160

In [26]:
# Step6: List the top 10 customers with the highest earnings.

In [27]:
df.sort_values("total_price", ascending=False)[:10]

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_count,total_price
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.000,2.000,684.970,45220.130,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.000,45905.100
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,Android App,Android App,2018-08-06,2021-02-23,2021-02-23,2020-07-06,67.000,1.000,130.490,36687.800,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",68.000,36818.290
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.000,1.000,1263.760,32654.340,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.000,33918.100
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,Ios App,Offline,2021-03-01,2021-04-13,2021-03-18,2021-04-13,10.000,1.000,538.940,30688.470,"[ERKEK, KADIN, AKTIFSPOR]",11.000,31227.410
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,Android App,Offline,2021-04-07,2021-04-27,2021-04-07,2021-04-27,1.000,3.000,18119.140,2587.200,[AKTIFSPOR],4.000,20706.340
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.000,4.000,843.680,17599.890,"[ERKEK, KADIN, AKTIFSPOR]",70.000,18443.570
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.000,1.000,82.480,16836.090,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.000,16918.570
163,fef57ffa-aae6-11e9-a2fc-000d3a38a36f,Mobile,Desktop,2016-11-08,2021-05-12,2021-05-12,2020-07-09,36.000,1.000,180.730,12545.370,"[ERKEK, AKTIFSPOR]",37.000,12726.100
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.000,1.000,49.990,12232.250,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.000,12282.240
18767,fc0ce7a4-9d87-11e9-9897-000d3a38a36f,Desktop,Desktop,2018-11-24,2020-11-11,2020-11-11,2019-12-06,18.000,2.000,64.970,12038.180,"[ERKEK, KADIN]",20.000,12103.150

In [28]:
# Step 7: List the top 10 customers who ordered the most.

In [29]:
df.sort_values("total_count", ascending=False)[:10]
df.groupby("master_id").agg({"total_count" : "sum"}).sort_values("total_count", ascending=False)[:10]

                                      total_count
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f      202.000
cba59206-9dd1-11e9-9897-000d3a38a36f      131.000
a57f4302-b1a8-11e9-89fa-000d3a38a36f      111.000
fdbe8304-a7ab-11e9-a2fc-000d3a38a36f       88.000
329968c6-a0e2-11e9-a2fc-000d3a38a36f       83.000
73fd19aa-9e37-11e9-9897-000d3a38a36f       82.000
44d032ee-a0d4-11e9-a2fc-000d3a38a36f       77.000
b27e241a-a901-11e9-a2fc-000d3a38a36f       75.000
d696c654-2633-11ea-8e1c-000d3a38a36f       70.000
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f       70.000

In [30]:
# Step 8 : Functionalize all the data pre-process.

In [31]:
def data_prep(dataframe):
    dataframe["total_count"] = dataframe["order_num_total_ever_online"] + dataframe["order_num_total_ever_offline"]
    dataframe["total_price"] = dataframe["customer_value_total_ever_offline"] + dataframe["customer_value_total_ever_online"]
    
    date_columns = dataframe.columns[dataframe.columns.str.contains("date")]
    dataframe[date_columns] = dataframe[date_columns].apply(pd.to_datetime)
    return dataframe

In [32]:
data_prep(df)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_count,total_price
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN],5.000,939.370
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.000,2013.550
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]",5.000,585.320
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]",2.000,121.970
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR],2.000,209.980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19940,727e2b6e-ddd4-11e9-a848-000d3a38a36f,Android App,Offline,2019-09-21,2020-07-05,2020-06-05,2020-07-05,1.000,2.000,289.980,111.980,"[ERKEK, AKTIFSPOR]",3.000,401.960
19941,25cd53d4-61bf-11ea-8dd8-000d3a38a36f,Desktop,Desktop,2020-03-01,2020-12-22,2020-12-22,2020-03-01,1.000,1.000,150.480,239.990,[AKTIFSPOR],2.000,390.470
19942,8aea4c2a-d6fc-11e9-93bc-000d3a38a36f,Ios App,Ios App,2019-09-11,2021-05-24,2021-05-24,2019-09-11,2.000,1.000,139.980,492.960,[AKTIFSPOR],3.000,632.940
19943,e50bb46c-ff30-11e9-a5e8-000d3a38a36f,Android App,Android App,2019-03-27,2021-02-13,2021-02-13,2021-01-08,1.000,5.000,711.790,297.980,"[ERKEK, AKTIFSPOR]",6.000,1009.770
19944,740998d2-b1f7-11e9-89fa-000d3a38a36f,Android App,Android App,2019-09-03,2020-06-06,2020-06-06,2019-09-03,1.000,1.000,39.990,221.980,"[KADIN, AKTIFSPOR]",2.000,261.970

In [35]:
# Task 2: Calculating RFM Metrics

In [36]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [37]:
today_date = dt.datetime(2021, 6, 1)
type(today_date)

datetime.datetime

In [38]:
df['total_count'].nunique()

63

In [39]:
#Step 1: Make the definitions of Recency, Frequency and Monetary.

In [ ]:
#"""recency: time since last purchase
#  frequency: total repeat purchases
#  monetary: average earnings per purchase"""

In [ ]:
#Step 2: Calculate the Recency, Frequency and Monetary metrics for the customer.

In [40]:
rfm = df.groupby('master_id').agg({'last_order_date': lambda last_order_date: (today_date - last_order_date.max()).days,
                                     'total_count': lambda total_count: total_count,  
                                     'total_price': lambda total_price: total_price.sum()})

In [41]:
rfm.head()

,last_order_date,total_count,total_price
master_id,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,10,5.000,776.070
00034aaa-a838-11e9-a2fc-000d3a38a36f,298,3.000,269.470
000be838-85df-11ea-a90b-000d3a38a36f,213,4.000,722.690
000c1fe2-a8b7-11ea-8479-000d3a38a36f,27,7.000,874.160
000f5e3e-9dde-11ea-80cd-000d3a38a36f,20,7.000,1620.330

In [43]:
#Step 3: Assign your calculated metrics to a variable named rfm.
#Step 4: Change the names of the metrics you created to recency, frequency, and monetary.

In [44]:
rfm.columns = ['recency', 'frequency', 'monetary']

In [45]:
#Task 3: Calculation of RF Score

In [46]:
#Step 1: Convert the Recency, Frequency and Monetary metrics to scores between 1-5 with the help of qcut.

In [47]:
rfm["recency_score"] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])

# 0-100, 0-20, 20-40, 40-60, 60-80, 80-100

rfm["frequency_score"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])

rfm["monetary_score"] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])

In [48]:
#Step 2: Record these scores as recency_score, frequency_score, and monetary_score. 
#Step 3: Express recency_score and frequency_score as a single variable and save as RF_SCORE.

In [49]:
rfm["RF_SCORE"] = (rfm['recency_score'].astype(str) +
                    rfm['frequency_score'].astype(str))

In [50]:
rfm.describe().T

              count    mean     std    min     25%     50%     75%       max
recency   19945.000 134.458 103.281  2.000  43.000 111.000 202.000   367.000
frequency 19945.000   5.025   4.743  2.000   3.000   4.000   6.000   202.000
monetary  19945.000 751.244 895.402 44.980 339.980 545.270 897.780 45905.100

In [52]:
#Task 4: Defining RF Score by Segment

In [53]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [54]:
rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

In [55]:
#Quest 5: Time for Action!

In [ ]:
#Step1: Examine the recency, frequency and monetary averages of the segments.

In [56]:
rfm[["segment", "recency", "frequency", "monetary"]].groupby("segment").agg(["mean", "count"])

                    recency       frequency       monetary
                       mean count      mean count     mean count
segment
about_to_sleep      114.032  1643     2.407  1643  361.649  1643
at_Risk             242.329  3152     4.470  3152  648.325  3152
cant_loose          235.159  1194    10.717  1194 1481.652  1194
champions            17.142  1920     8.965  1920 1410.709  1920
hibernating         247.426  3589     2.391  3589  362.583  3589
loyal_customers      82.558  3375     8.356  3375 1216.257  3375
need_attention      113.037   806     3.739   806  553.437   806
new_customers        17.976   673     2.000   673  344.049   673
potential_loyalists  36.870  2925     3.311  2925  533.741  2925
promising            58.695   668     2.000   668  334.153   668

In [ ]:
#Step2: With the help of RFM analysis, 
#find the customers in the relevant profile for the 2 cases given below and save the customer ids as csv.

In [ ]:
#a.FLO includes a new brand of women's shoes in its structure. 
#The product prices of the brand it includes are above the general customer preferences.
#Therefore, it is desirable to contact the customers in the profile that will be interested in the promotion of the brand and the sales of the product.
#Customers to be contacted privately from loyal customers(champions,loyal_customers)
#and people who shop from the female category.
#Save these customers id numbers in the csv file

In [69]:
rfm_ = pd.merge(df,rfm, on='master_id')

In [70]:
rfm_.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_count,total_price,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN],5.000,939.370,95,5.000,939.370,3,4,4,34,loyal_customers
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.000,2013.550,105,21.000,2013.550,3,5,5,35,loyal_customers
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]",5.000,585.320,186,5.000,585.320,2,4,3,24,at_Risk
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]",2.000,121.970,135,2.000,121.970,3,1,1,31,about_to_sleep
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR],2.000,209.980,86,2.000,209.980,3,1,1,31,about_to_sleep

In [75]:
new = rfm_["new customers"] =rfm_.loc[((rfm_["segment"] == "loyal_customers") | (rfm_["segment"] == "champions")) & ((rfm_["interested_in_categories_12"].str.contains("KADIN")))]["master_id"]

In [76]:
new.to_csv("yeni_marka_hedef_müşteri_id.csv", index=False)

In [77]:
rfm_.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_count,total_price,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE,segment,new customers
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN],5.000,939.370,95,5.000,939.370,3,4,4,34,loyal_customers,cc294636-19f0-11eb-8d74-000d3a38a36f
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.000,2013.550,105,21.000,2013.550,3,5,5,35,loyal_customers,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]",5.000,585.320,186,5.000,585.320,2,4,3,24,at_Risk,NaN
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]",2.000,121.970,135,2.000,121.970,3,1,1,31,about_to_sleep,NaN
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR],2.000,209.980,86,2.000,209.980,3,1,1,31,about_to_sleep,NaN

In [78]:
# Action 2

# Planning %40 discount for male and child products. 
#With categories related to this discount people who are good customers 
#but not shopping for a long time and customers which we shouldnt lost , sleeping customers
#and new comers customers specially targeted. 
#Save the id numbers of these customers to the csv file.

In [80]:
new2 = rfm_.loc[(rfm_["segment"] == "cant_loose") | (rfm_["segment"] == "hibernating") | (rfm_["segment"] == "new_customers") &
                  ((df["interested_in_categories_12"].str.contains("ERKEK") | (df["interested_in_categories_12"].str.contains("COCUK"))))]["master_id"]

In [81]:
new2.to_csv("yeni_hedef_müşteri_id.csv", index=False)